ul {
    margin: 300px 200px;
    display: flex;
}

ul li {
    list-style: none;
    padding: 20px 30px;
}

ul li a {
    text-decoration: none;
    text-transform: uppercase;
    font-size: 2em;
    color: #131212;
    position: relative;

}

ul li a:before {
    content: '';
    width: 0;
    height: 5px;
    background: #f00e0e;
    position: absolute;
    top: 100%;
    left: 0;
    transition: .5s;
}

ul li:hover a::before {
    width:50%;
    transform: translateX(100%);
}